<div class="row wrapper m-5">
    <div class=" blog-card col-md-6" *ngFor="let blog of blogs; index as detailsId">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static blog-content">
                <h3 class="mb-0">{{blog.postName}}</h3>
                <div class="mb-1 text-muted">{{blog.date}}</div>
                <p class="card-text mb-auto">{{blog.post}}</p>
                <a [routerLink]="['/details', detailsId]" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="{{blog.img}}" alt="" width="250" height="250">      
            </div>
        </div>
    </div>
</div>