<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-md-6 col-lg-3 mt-3 card"
      *ngFor="let blog of blogs; index as blogId"
    >
      <a [routerLink]="['blog', blogId]">
        <img class="card-img-top mt-2" src="{{ blog.imgSrc }}" alt="" />

        <div class="card-body">
          <h4 class="card-title text-nowrap">{{ blog.title }}</h4>

          <p class="text-muted text-nowrap">{{ blog.date }} {{ blog.time }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
