<div class="container mt-5 detailsWrapper">
    <h2 class="display-4">Read more:</h2>

    <div class="row featurette mt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-white">{{details.postName}} recipe <span class="">It’ll blow your mind.</span></h2>
          <p class="lead text-white">{{details.post}}</p>
          <ul>
            <li class="text-white">1 1/2 cups (355 ml) warm water (105°F-115°F</li>
            <li class="text-white">1 package (2 1/4 teaspoons) of active dry yeast</li>
            <li class="text-white">3 3/4 cups (490 g) bread flour</li>
            <li class="text-white">2 tablespoons extra virgin olive oil (omit if cooking pizza in a wood-fired pizza oven)</li>
            <li class="text-white">2 teaspoons salt</li>
            <li class="text-white">1 teaspoon sugar</li>
        </ul>
        </div>
        <div class="col-md-5">
            <img src="{{details.img}}" alt="" width="450" height="300">
        </div>
      </div>
</div>
